@font-face {
	font-family: "circular-bold";
	src: url("../font/lineto-circular-pro-bold.ttf") format("ttf");
}

@font-face {
	font-family: "circular-book";
	src: url("../font/lineto-circular-pro-bold.ttf") format("ttf");
}

@font-face {
	font-family: "circular-medium";
	src: url("../font/lineto-circular-pro-medium.ttf") format("ttf");
}

.hero h1{
	font-size: 60px;
	line-height: 60px;
}

h1,h2,h3,h4{
	font-family: 'circular-bold', Arial, sans-serif;
	font-size:42px;
	line-height: 50px;
}

h1,h3,h4{
	color:#333F48;
}

h2{
	color:#6D7885;
	font-size:30px;
	line-height: 36px;
}

h3{
	font-size:21px;
	line-height: 26px;
}

h4{
	font-size:20px;
	line-height: 26px;
}